name: PyPi release
run-name: CI pipeline
on:
  pull_request:
    branches:
      - '*'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - main

jobs:
  style:
    name: Check style
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !github.event.pull_request.draft }}
    env:
      TOXENV: flake8,black
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U tox

      - name: Check style
        run: tox -vv

  build:
    name: Check build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U wheel setuptools build

      - name: Check build
        run: python setup.py sdist bdist_wheel
  
  # Main testing part 1
  test_main_1:
    name: Test main - 1
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ !github.event.pull_request.draft }}
    env:
      TOXENV: py311
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U tox
  
      - name: Check test
        run: tox -vv -etest_env_main_1

  # Main testing part 2
  test_main_2:
    name: Test main - 2
    runs-on: ubuntu-latest
    timeout-minutes: 7
    if: ${{ !github.event.pull_request.draft }}
    env:
      TOXENV: py311
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U tox
  
      - name: Check test
        run: tox -vv -etest_env_main_2
  
  # Pre-processing testing
  test_pre_processing:
    name: Test pre-processing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !github.event.pull_request.draft }}
    env:
      TOXENV: py311
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U tox
      
      - name: Check test
        run: tox -vv -etest_env_pre

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: updated_esdl_file
          path: examples/PoCTutorial/model/PoC Tutorial_GrowOptimized.esdl
          retention-days: 5
      
      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: updated_esdl_string_file
          path: examples/PoCTutorial/model/PoC Tutorial_GrowOptimized_esdl_string.esdl
          retention-days: 5

  
  # Post processing testing dependant on pre-processing
  test_post_processing:
    name: Test post-processing
    needs: test_pre_processing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !github.event.pull_request.draft }}
    env:
      TOXENV: py311
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: deps
        run: python -m pip install -U tox

      - name: Archive test artifacts
        uses: actions/download-artifact@v4
        with:
          name: updated_esdl_file
          path: examples/PoCTutorial/model/
      - name: Archive test artifacts
        uses: actions/download-artifact@v4
        with:
          name: updated_esdl_string_file
          path: examples/PoCTutorial/model/  
      
      - name: Check test
        run: tox -vv -etest_env_post
          
  documentation:
    name: Generate documentation
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Generate documentation
        run: |
          pip install -e .
          cd docs
          pip install -r requirements.txt
          make html
          mv _build/html ../public
          cd ..
